
.indexPage {
    margin: 0 1em 0 1em;
}

.infoCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.infoCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 60vw;
}

.infoCard {
    padding: 1em 2.5em 1em 2.5em;
    background-color: blue;
    color: white;
    border-radius: 6px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header input {
    border: solid transparent;
    background-color: rgba(128, 128, 128, 0.075);
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 6px;
}

.header input:focus {
    outline: none;
}

@media screen and (max-width: 627px) {
    .infoCards {
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 418px) {
    .header {
        display: flex;
        flex-direction: column;
    }
}